.content-container {
  @apply h-full bg-very-light-grey dark:bg-very-dark-blue;
}
.filter-section {
  @apply py-16 
  flex md:flex-row sm:flex-col flex-col
  md:items-center sm:items-start items-start
  gap-8 sm:gap-8 md:gap-0
  justify-between w-full;
}

.filter-input {
  @apply w-full;
}

.filter-input input {
  box-shadow: 0 0 2px #00000015;
  @apply border-2 border-opacity-10 border-dark-grey dark:border-very-dark-blue
  md:w-[480px] w-full sm:w-full h-14 
  rounded-lg pl-16 outline-none
  relative bg-white dark:bg-dark-blue
  dark:text-white;
}

.filter-input button {
  @apply h-12 w-8 ml-5 z-10 absolute
  cursor-pointer flex items-center justify-center;
}
.filter-input button:hover span {
  @apply opacity-80;
}

.filter-combo select {
  box-shadow: 0 0 2px #00000015;
  @apply md:w-52 h-14 w-60 
  px-2 outline-none
  bg-white dark:bg-dark-blue
  border-2 border-opacity-10 border-dark-grey dark:border-very-dark-blue
  text-light-dark-blue dark:text-white dark:font-normal dark:text-opacity-70 
  text-opacity-80 text-sm
  font-medium rounded-lg;
}
.filter-combo select > option {
  @apply h-[80px];
}

.search-btn {
  @apply w-6 h-6 block mt-2 ml-2
   bg-light-search dark:bg-dark-search
   transition-all duration-75 ease-out
  bg-cover bg-no-repeat opacity-50;
}

.countries-cards-container {
  @apply w-fit
  place-items-center
  grid gap-12
  2xl:grid-cols-5
  xl:grid-cols-4
  lg:grid-cols-3
  md:grid-cols-2;
}
